<div class="container small" id="game">
    <div class="bubble">
        <p class="italic">Zin om te spelen met andere?</p>
        <p>Start een nieuw spel waar andere aan mee kunnen doen</p>
        <div class="bubble btn btn-green" id="join">
            <span class="link">Start nieuw spel</span>
        </div>
    </div>
    <div class="bubble" style="margin-top: 1rem">
        <p class="italic">Deelnemen aan een bestaand spel</p>
        <p>Voer code in</p>
        <input type="text" name="gamecode">
        <div class="bubble btn btn-green" id="join">
            <span class="link">Deelnemen</span>
        </div>
    </div>
</div>
