<div class="app-brand-text">
    <h1>Bingo</h1>
</div>

<div class="confirm-wrapper">
    <div class="container small" id="clear-confirm">
        <span>Weet je zeker dat je alle kaarten wil verwijderen?</span>
        <div class="options">
            <div class="bubble btn" id="confirmClear">
                <span href="#">Ja</span>
            </div>
            <div class="bubble btn" id="cancelClear">
                <span href="#">Nee</span>
            </div>
        </div>
    </div>
</div>

<div class="container small">
    <div class="app-brand-container">
        <i class="bx bxs-color" id="app-brand"></i>
    </div>
    <div class="actions">
        <a href="/classic" class="link">
            <div class="bubble action btn btn-green" id="play-together">
                Start klassiek spel
            </div>
        </a>
        <a href="/play" class="link">
            <div class="bubble action btn btn-green" id="play-together">
                Speel online
            </div>
        </a>
    </div>
</div>
